@{
  Layout = "_Layout";
}

<h1>Hello Everyone</h1>

<form action="/Home/Resume" method="post">
  <div class="form-group">
    <label for="your-name">Name:</label>
    <input type="text" name="your-name" class="form-control">
  </div>
  <a href="/Home/Resume"><button type="submit" class="btn btn-primary">Enter</button></a>
</form>
